@model List<CustomerViewModel>
    
    @foreach(var item in Model)
    {
    <p>@item.FirstName @item.LastName</p>
    <p>@item.Address, @item.Age</p>
    <p>@item.BirthDate.Date.ToString("dd/MM/yyyy")</p>
    <p>@item.Id</p>
    <p>@item.Description</p>
    }




